<section >
  <div class="foreman">
    <h1>Bienvenido Maestro Pro!</h1>
  <div>
    <div class="img"></div>
  </div>
  <div>
    <h3>Informacion</h3>
    <p>Nombre: </p>
    <p>Categoria: </p>
    <p>Ciudad: </p>
    <p>ranking: </p>
  </div>
  <div class="botones">
    <button class="btn1">proyectos para ti</button>
    <button class="btn2">my work! tus proyectos</button>
  </div>
  </div>
  <div class="table1">
    <!-- lugar donde se cargara la informacion -->
      <table >
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Disponibilidad</th>
            <th>Ciudad</th>
            <th>Dirección</th>
            <th>Descripcion</th>
          </tr>
        </thead>
        <tbody class="tbody1">
          <tr class="tr1"></tr>
        </tbody>
      </table>
  </div>

  <div class="table2">
    <!-- lugar donde se cargara la informacion -->
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Disponibilidad</th>
            <th>Ciudad</th>
            <th>Dirección</th>
            <th>Descripcion</th>
          </tr>
        </thead>
        <tbody class="tbody2">
          
        </tbody>
      </table>
  </div>
 </section>