<section id="carrito">
 <h1><b>Bolsa de Compra</b> / 1 Producto</h1>
 <div class="product">
  <img src="https://mobiprix.com/2555-large_default/oferta-mueble-comedor-girona.jpg" alt="">
  <p>Lorem ipsum dolor sit amet, consectetur</p>  
   <h4><i class="fa fa-credit-card"></i> Pendiente</h4>
   <p>Tu pedido está en proceso.</p>
   <button class="buy">COMPRAR</button>          
 </div> 
 <h1>Mis pedidos</h1>
 <div class="product">
  <img src="https://mobiprix.com/2555-large_default/oferta-mueble-comedor-girona.jpg" alt="">
  <p>Lorem ipsum dolor sit amet, consectetur</p>  
   <h4><i class="fa fa-map-marker"></i> En Bodega</h4>
   <p>Tu pedido está en proceso.</p>
   <button>SEGUIMIENTO</button>                
 </div> 
 <div class="product">
  <img src="https://mobiprix.com/2555-large_default/oferta-mueble-comedor-girona.jpg" alt="">
  <p>Lorem ipsum dolor sit amet, consectetur</p>  
   <h4><i class="fa fa-map-marker"></i> En Bodega</h4>
   <p>Tu pedido está en proceso.</p>
   <button>SEGUIMIENTO</button>            
 </div>
</section>