@import url('https://fonts.googleapis.com/css?family=Roboto');

#carrito {
  font-family: 'Roboto', sans-serif;
}

.product{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#carrito {
  width: 80%;
  padding:20px;
  padding-top: 0px;
  margin-left: 5%;
}

.product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.separator {
  background-color: #110677;
  color: white;
  padding: 20px 10px;
  text-align: center;
}

#carrito .product{
  width: 100%;
  padding:20px 40px; 
  background-color: #ddd;
  box-shadow: 0px 5px 10px #888;
  margin-bottom: 30px;
  color: #555;
  min-height: 100px;
}

.product i {
  font-size: 30px;
}

.der span {
  color: #5CB81F;
  font-size: 24px;
}

#carrito button {
  background-color: #110677;
  color: white;
  padding: 10px 20px;
  border:none;
  cursor: pointer;
}

#carrito button:hover {
  filter: brightness(.6);
}

#carrito button.buy {
  background-color: red;
}