@import url('https://fonts.googleapis.com/css?family=Roboto');

#traking {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
}

.myProduct{
  display: flex;
  justify-content: center;
  align-content: center;
}

#traking > .izq {
  width: 50%;
  padding:20px;
  padding-top: 0px;  
  background-color: #eee;
  box-shadow: 0px 5px 10px #888;
  padding: 10px;
}

#traking .der {
  width: 50%;
  padding:20px;
}

.myProduct .izq img {
  width: 100%;
}

.myProduct .der {
  width: 50%;
  padding:20px;
}

.separator {
  background-color: #110677;
  color: white;
  padding: 20px 10px;
  text-align: center;
}

#traking > .der .detailTrack{
  width: 100%;
  padding:20px 40px; 
  background-color: #ddd;
  box-shadow: 0px 5px 10px #888;
  margin-bottom: 30px;
  color: #555;
  min-height: 100px;
}

.detailTrack i {
  font-size: 30px;
}

#traking > .der .active {
  background-color: #5CB81F;
  color: white;
}

.der span {
  color: #5CB81F;
  font-size: 24px;
}