<!--   <section id="traking">
    <i class="fas fa-map-marker-alt"></i>
    <i class="fas fa-truck"></i>
    <i class="fas fa-home"></i>
  </section> -->
  <section id="traking">   
   <div class="izq">
     <h1>Seguimiento</h1>
     <div class="myProduct">
       <div class="izq">
         <img src="https://mobiprix.com/2555-large_default/oferta-mueble-comedor-girona.jpg" alt="">
       </div>
       <div class="der">
         <h4>Mueble modular 3mts</h4>
         <p><span>$ 79.990 (Oferta)</span></p>
         <p>SKU 12392834</p>         
       </div>
     </div>
     <h4 class="separator">Servicios Contratados</h4>
     <div class="myProduct">
       <div class="izq">
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKgqFWZmVNIqCgmj08JaQl8YdeZa--t5BpqE36uspvOTS1XvrT" alt="">
       </div>
       <div class="der">
         <h4>Servicio de Instalación</h4>
         <p>Julio Martinez</p>
         <p>+569 767 50 110</p>         
       </div>
     </div>
   </div>
   <div class="der">
    <h1>Despacho el 24 de Abril del 2018</h1>
     <div class="detailTrack active">
       <h4><i class="fa fa-map-marker"></i> En Bodega</h4>
        <p>Tu pedido está en proceso.</p>                
     </div>
     <div class="detailTrack">
       <h4><i class="fa fa-truck"></i> En Ruta</h4>        
     </div>
     <div class="detailTrack">
       <h4><i class="fa fa-home"></i> Despachado</h4>      
     </div>
   </div>
  </section>